article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .card-link {

    .card {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      border-radius: 10px;

      img {
        width: 335px;
        height: 255px;
        object-fit: cover;
        border-radius: 10px;
      }

      figcaption {
        display: flex;
        align-items: flex-end;
        position: absolute;
        width: 335px;
        height: 255px;
        border-radius: 10px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(10, 10, 10, 0.00) 42%, rgba(4, 4, 4, 0.20) 99.99%, rgba(0, 0, 0, 0.50) 100%);

        h3 {
          width: 250px;
          height: fit-content;
          margin-left: 20px;
          color: #FFFFFF;
          font-size: 18px;
          line-height: 142.6%;
        }
      }
    }

  }
}

@media (min-width: 768px) {
  article {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    border-radius: 25px;
    background: #F6F6F6;
    margin-top: 30px;
    gap: 40px;

    .card-link {
      .card {
        img {
          width: 300px;
          height: 220px;
        }

        figcaption {
          width: 300px;
          height: 220px;
        }
      }
    }
  }
}

@media (min-width: 1025px) {

  article {
    padding: 60px;
    gap: 50px;

    .card-link {
      .card {
        img {
          width: 340px;
          height: 340px;
        }

        figcaption {
          width: 340px;
          height: 340px;
        }
      }
    }
  }
}