nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  margin-bottom: 27px;

  img {
    width: 145px;
  }

  ul {
    display: flex;
    gap: 20px;
  }

  li {
    text-transform: uppercase;
    font-size: 12px;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

@media (min-width: 768px) {
  nav {
    li {
      text-transform: capitalize;
    }
  }
}