footer {
  margin: 0;
  display: flex;
  width: 100%;
  height: 209px;
  background-color: #000;
  ;

  figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 120px;

    .logo {
      width: 122px;
      height: 40px;
    }

    figcaption {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 12px;
      padding-top: 10px;

      p {
        margin: 0;
      }
    }
  }
}

@media (min-width: 768px) {
  footer {
    display: flex;
    justify-content: center;

    figure {
      gap: 30px;
      padding-top: 70px;
      padding-bottom: 20px;

      .logo {
        align-self: center;
      }

      figcaption {
        display: flex;
        flex-direction: row;
        text-align: center;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%;
      }
    }
  }
}